.row
	.col-xs-12
		.box
			.box-body
				%table#account-table.table.table-hover.table-striped
					%thead
						%tr
							%th Id
							%th Code
						
							%th Name
							%th Description
							%th Debit
							%th Credit
							
					%tbody
						- @accounts.each do |a|
							%tr 
								%td= a.id
								%td= a.code
								%td= a.name
								%td= a.description
								%td= a.debit
								%td= a.credit
								
								

                   