= stylesheet_link_tag "//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"

.container
  .row
    .col-xs-12
      .box
        .box-body
          %table#account-table.table.table-hover.table-striped
            %thead
              %tr
                %th Id
                %th Code

                %th Name
                %th Description
                %th Debit
                %th Credit
                / %th Category
                / %th Total

            %tbody
              - @accounts.each do |a|
                %tr
                  %td= a.id
                  %td
                    .ui-widget
                      -# = best_in_place a, :code, collection: { 'Ram': 'Ram', 'Shyam': 'Shyam' }, id: 'code', type: :select
                      %select#code
                        %option{value: 'Ram'} Ram
                        %option{value: 'Shyam'} Shyam
                        %option{value: 'Hari'} Hari
                        %option{value: 'Geeta'} Geeta
                        %option{value: 'Rita'} Rita
                        %option{value: 'Sita'} Sita
                        %option{value: 'Nita'} Nita
                  -# %td= best_in_place a, :code
                  %td= best_in_place a, :name, :class => "hell"
                  %td= best_in_place a, :description, :class => "hell"
                  %td= best_in_place a, :debit, :display_as => :debit_precision, :class => "debit debit-credit"
                  %td= best_in_place a, :credit, :display_as => :credit_precision, :class => "credit debit-credit"
                  / %td= best_in_place a, :category, :class => "hell"

                  / %td{:id => "#{a.id}_total", :class => "total"}= (a.debit.to_i + a.credit.to_i)
                  %div.hidden.account_information{data: {first: Account.first.id, last: Account.last.id}}

:javascript

  $(document).ready(function() {
    $( "select#code" ).combobox();

    $('span.custom-combobox').keypress(function(e){
      if(e.which == 13){
        console.log('Enter pressed');
        var selected_option = $('#code option:selected').text();
        console.log(selected_option);
       }
    });

    var first_id = $('.account_information').data('first');
    var last_id = $('.account_information').data('last');

    for (var n = first_id; n <= last_id; n++){
      console.log(n);
      var deb = $("#best_in_place_account_" + n + "_debit").text();
      var cre = $("#best_in_place_account_" + n + "_credit").text();

      if(deb !== "-"){
        $("#best_in_place_account_" + n + "_credit").addClass("disable");
      }else if(cre !== "-"){
        $("#best_in_place_account_" + n + "_debit").addClass("disable");
      }
    }

    $('.debit-credit').on('change', function(e) {
      var account_id = $(this).attr('id').split('_')[4]
      console.log(account_id);
      $.ajax({
            
        url : window.location.pathname + 'accounts/' + account_id ,
        type : 'PATCH',
        data : { account_id: account_id|,
        success : function(data) {
            console.log(data);
        },
        error : function(request,error) {
            // log the error to the console
            console.log(error);
        }
      });

      var row_id = $(this).data('bip-url').split('/').pop();
      var target_name = e.target.name

      // console.log(row_id);
      if(row_id){
        if(target_name == 'credit'){
          var credit_value = e.target.value;
          //var debit_value = $("#best_in_place_account_" + row_id + "_debit").data('bip-value');
          //$("#best_in_place_account_" + row_id + "_debit").attr("disabled", true);
          $("#best_in_place_account_" + row_id + "_debit").addClass("disable");
        }else if(target_name == 'debit'){
          var debit_value = e.target.value;
          //var credit_value = $("#best_in_place_account_" + row_id + "_credit").data('bip-value');
          //$("#best_in_place_account_" + row_id + "_credit").attr("disabled", true);
          $("#best_in_place_account_" + row_id + "_credit").addClass("disable");
        }

        // console.log("Credit-val " + credit_value)
        // console.log("Debit-val " + debit_value)

        //if(debit_value > 0){
        //} else if(credit_value > 0){
        //}
      }

    });
  });

:css

  .custom-combobox {
    position: relative;
    display: inline-block;
  }

  .custom-combobox-toggle {
    position: absolute;
    top: 0;
    bottom: 0;
    margin-left: -1px;
    padding: 0;
  }

  .custom-combobox-input {
    margin: 0;
    padding: 5px 10px;
  }

  .disable{
    opacity: .5;
    pointer-events: none;
  }
